:root {
  --offcanvas-width: 220px;
  --topNavbarHeight: 56px;
}

.navbar-background-color {
  background-color: #2d3337;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  .offcanvas-backdrop::before {
    display: none !important;
  }

  main {
    margin-left: var(--offcanvas-width);
  }

  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbarHeight) !important;
    height: calc(100% - var(--topNavbarHeight));
  }
}

#map {
  height: 92.5vh;
  border-width: 5px;
  border-style: solid;
  border-color: #9e9e9e;
  border-radius: 5px;
}

.selector-color {
  border-radius: 5px;
}
