<div
  class="offcanvas offcanvas-start bg-dark text-white sidebar-nav"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav my-2 p-2">
        <div <% if (title === 'Dashboard') { %> 
          class="bg-primary selector-color">
          <% } %>
          <li>
            <a href="/" 
            <% if (title === 'Dashboard') { %>
            class="nav-link px-3 active"
            <% } else { %>
              class="nav-link px-3"
              <% } %>>
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Dashboard</span>
            </a>
          </li>
        </div>
        <div <% if (title === 'Anggota') { %>
          class="bg-primary selector-color my-1">
          <% } %>
        <li>
          <a href="/anggota" 
          <% if (title === 'Anggota') { %>
          class="nav-link px-3 active"
          <% } else { %>
            class="nav-link px-3 my-1"
            <% } %>>
            <span class="me-2"><i class="bi bi-people"> </i></span>
            <span>Anggota</span>
          </a>
        </li>
      </div>

      <div <% if (title === 'Sebaran') { %> 
        class="bg-primary selector-color my-1">
        <% } %>
          <li>
            <a href="/sebaran"
            <% if (title === 'Sebaran') { %>
              class="nav-link px-3 active"
              <% } else { %>
                 class="nav-link px-3 my-1"
                 <% } %>>

              <span class="me-2"><i class="bi bi-map"> </i></span>
              <span>Sebaran</span>
            </a>
          </li>
        </div>
        <li>
          <a href="#" class="nav-link px-3 my-1">
            <span class="me-2"><i class="bi bi-wallet"></i></span>
            <span>Keuangan</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3 my-1">
            <span class="me-2"><i class="bi bi-calendar4-event"></i></span>
            <span>Kegiatan</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3 my-1">
            <span class="me-2"
              ><i class="bi bi-file-earmark-spreadsheet"></i
            ></span>
            <span>Laporan</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<main class="mt-5 pt-3 p-2">
