<%- include('partials/header') %>
<%- include('partials/navbar') %> 
<%- include('partials/sidebar') %>

<script src="leaflet/dist/leaflet.js"></script>

<!-- Main layout -->
  <div id="map"></div>

<script src="js/Map.js"></script>

<%- include('partials/footer') %>
